html, body
{
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#svg_div
{
    position: absolute;
    left: 25%;
    height: 92%;
    background-color: whitesmoke;
}

#shortcut {
    position: absolute;
    left: 13%;
    top: 80%;
    width: 61.2%;
    height: 19%;

    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: gray;*/
    /*border-radius: 10px;*/

    /*padding-top: 0.5%;*/
    /*padding-bottom: 0.5%;*/
    /*padding-left: 0.5%;*/
    /*padding-right: 0.5%;*/

    background-color: whitesmoke;
}
#tips {
    width: 23%;
    height: 99%;
    display: inline;
    float: left;

    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;

    /*background-color: white;*/
}
#tips_color, #tips_line {
    width: 50%;
    height: 100%;
    display: inline;
    float: left;

    /*background-color: white;*/
}
#toolbar {
    width: 76%;
    height: 99%;
    display: inline;
    float: right;

    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;

    /*background-color: white;*/
}

.mainwindow {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 92%;
}

.visuShotsSlider line {
    stroke: red;
    stroke-width: 10;
    cursor: pointer;
}

.visuShotsSlider rect {
    fill: white;
}

.visuShotsFilterModes, .visuShotsVisuModes, .visuShotsBrushing{
    fill:white;
}

.selection{
    stroke: orange;
    stroke-width:2;
    fill-opacity: .08;
    shape-rendering: crispEdges;
}

.shot_hidden{
    opacity:0;
}

.shot_visible{
    opacity:.6;
}

.shot_transparent{
    opacity:0.15;
}

.modes_text, .filters_text, .stats_text{
    /*font-size: 9px;*/
    font-family:'Trebuchet MS',Arial, Helvetica;
    fill:white;
    stroke-width:0;
}

.modes_selected, .orders_selected{
    fill:red;
}

.fieldRect
{
    stroke-width: 1;
    fill: rgb(220,223,232);
    stroke: gray;
}

.fieldLines
{
    stroke-width: 1;
    fill: rgb(220,223,232);
    stroke: gray;
}

/*.Points*/
/*{*/
    /*stroke-width: 0.5%;*/
    /*fill: white;*/
    /*stroke: gray;*/
/*}*/

/*.Gate*/
/*{*/
    /*stroke-width: 2%;*/
    /*fill: white;*/
    /*stroke: gray;*/
/*}*/
