#span1{
    position: absolute;/*绝对定位*/
    width: 100%;
    height: 70%;
    bottom: 0;/*离底下0像素*/
    left: 0;
    text-align: center;
    line-height: 70%;
    font-family: "Comic Sans MS";
    font-size: 60px;
    color: gold;
}

.title
{
    x: 10px;
    textLength: 20;
    font-weight: bold;
    text-anchor: left;
    font-family: "宋体";
    font-size: 15px;
    color: black;
}

.subtitle
{
    x: 10px;
    textLength: 20;
    text-anchor: start;
    font-family: "Consolas";
    font-size: 3px;
    color: black;
}

.mark
{
    textLength: 20;
    text-anchor: middle;
    font-family: "Consolas";
    font-size: 3px;
    color: black;
}

.avg_line
{
    stroke:rgb(0,0,0);
    stroke-width:2;
}

.playerinfo_id
{

    font-family: "华文彩云";
    font-size: 50px;
    text-anchor: middle;
    color: whitesmoke;
    stroke: gold;
    stroke-width: 1px;
}

.playerinfo_name
{
    font-family: "华文宋体";
    font-size: 30px;
    text-anchor: middle;
    color: black;
}

playerinfo_pos
{
    font-family: "华文楷体";
    font-size: 20px;
    text-anchor: middle;
    color: darkslategrey;
}
