#span1{
    position: absolute;/*绝对定位*/
    width: 100%;
    height: 70%;
    bottom: 0;/*离底下0像素*/
    left: 0;
    text-align: center;
    line-height: 70%;
    font-family: "Comic Sans MS";
    font-size: 60px;
    color: gold;
}
