html, body
{
    margin: 0;
    height: 100%;
    width: 100%;
}
.titlerect{
	stroke-width:1px;
	stroke:rgb(0,0,8);
}
.timeline{
	stroke: rgb(0,0,8);
	stroke-width:2px;
}
.disline{
	stroke: rgb(8,0,0);
	stroke-width:2px;
}
.smallcourt{
	stroke: black;
	stroke-width:1%;
	height: 100%;
	width: 100%;
	fill: white;
}
.small_mid_circle{
	stroke:rgb(1,1,1);
	stroke-width:1%;
	fill:white;
}
.small_gate{
	stroke: black;
	stroke-width:1%;
	height: 5.4%;
	width: 2.5%;
	fill:none;
}
.fieldRect
{
    stroke-width: 1%;
    fill: none;
    stroke: black;
}

.fieldLines
{
    stroke-width: 0.5%;
    fill: white;
    stroke: black;
}

.Points
{
    stroke-width: 0.5%;
    fill: none;
    stroke: black;
}

.Gate
{
    stroke-width: 2%;
    fill: none;
    stroke: black;
}
.a
{
	background-color: yellow;
}


